<div class="contaner">
    <div class="row">
        <div class="col-4">
            <img style="position:absolute; TOP:-10px; LEFT:90px;" src="https://i.ibb.co/gRT7Lh9/dp.png" alt="dp" border="0">
        </div>
        <div class="col-8 text-left">
            <h1><%= @account.full_name %></h1>
            <%= link_to "Edit Profile", edit_account_registration_path, class: "btn btn-secondary" if can_edit_profile?(@account.id) %> 
            <div class="profile-stats"><%= @account.posts.count %> mumbles</div>
            <div class="profile-stats"><%= @account.total_followers %> followers</div>
            <div class="profile-stats"><%= @account.total_following%> following</div>
            </br>
            <%= simple_format @account.description %>
        </div>
    </div>
    <div class="row profile-posts">
        <% @posts.each do |post| %>
            <div class="col-4">
                <div class="post-style">
                    <div class="actual-post">
                        <%= post.post %>
                    </div>
                    <div class="post-bottom">
                        <i class="fa fa-heart like-<%= post.id %> post-like" data-id="<%=post.id%>"></i>
                        <i class="fa fa-comment post-comment"></i>
                        <strong ><%= post.total_likes %> likes</strong>
                        <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
                    </div>

                </div>
            </div>
        <% end %>
    </div>
</div>